<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Modify Tokimon</title>
    <!--
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
    -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css" />
    <!-- <script type="text/javascript" src="/formjs.js"></script> -->
    
    <script src="js/script.js"></script>
    <!-- <script src="js/totalCalc.js"></script> -->
</head>

<body>
    <div id="modifyPageBackgroundImage">
        <a href="https://sheltered-thicket-38577.herokuapp.com">Home</a> <a href="https://sheltered-thicket-38577.herokuapp.com/Tokimons">Tokimon List</a>
        <h2 class="modifyPageHeading">Modify the the Tokimon</h2>
        <p class="pageContent">Sometimes the Tokimons mutate for mysterious reasons. Update the name of the Tokimon and the other details. The fields marked with an astrix takes only integers from 0 to 100. Be sure to fill all the fields correctly. The form will not be accepted otherwise!</p>
        <% rows.forEach((r) => { %>
            <form class="forms" action="/modify" onsubmit="return validateAddNew()" method="POST">
                <div class="modifyContainer">
                    <table>
                        <tr>
                            <td>
                                Tokimon ID: <%= r.id %>
                            </td>
                            <td>
                                <input type="text" name="tokimonID" class="ToBeHidden" value=<%= r.id %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tokimon Name:
                            </td>
                            <td>
                                <input type="text" name="tokimonName" class="value" pattern="[A-Za-z0-9]" value=<%= r.t_name %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weight*:
                            </td>
                            <td>
                                <input type="number" name="tokimonWeight" class="value" value=<%= r.t_weight %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Height*:
                            </td>
                            <td>
                                <input type="number" name="tokimonHeight" class="value" value=<%= r.t_height %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fly*:
                            </td>
                            <td>
                                <input type="number" name="tokimonFly" class="value" value=<%= r.t_fly %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fight*:
                            </td>
                            <td>                                
                                <input type="number" name="tokimonFight" class="value" value=<%= r.t_fight %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fire*:
                            </td>
                            <td>                                
                                <input type="number" name="tokimonFire" class="value" value=<%= r.t_fire %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Water*:
                            </td>
                            <td>                                
                                <input type="number" name="tokimonWater" class="value" value=<%= r.t_water %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Electric*:
                            </td>
                            <td>
                                <input type="number" name="tokimonElectric"class="value" value=<%= r.t_electric %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Frozen*:
                            </td>
                            <td>
                                <input type="number" name="tokimonFrozen" class="value" value=<%= r.t_frozen %>>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Name of Trainer:
                            </td>
                            <td>
                                <input type="text" name="tokimonTrainer" class="value" pattern="[A-Za-z0-9]" value=<%= r.t_trainer %>>
                            </td>
                        </tr>
                    </table>
                        <input type="number" name="tokimonTotal" class="ToBeHidden tokTotal" value=<%= r.t_total %>></p>
                        <p class="textItem">Description:<br>
                        <textarea rows="4" cols="50" pattern="[A-Za-z0-9]" name="tokimonDescription"><%= r.t_desc %>
                        </textarea></p><br>
                        <input class="submitButton" type="submit" value="Submit">
                </div>
            </form>
        <% }); %>
    </div>
</body>
</html>