<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimons</title>
  </head>
  <body>
    <p>Tokimons are rare. This is the list of Tokimons found so far. Each Tokimon has a unique ID which can be used to distinguish ones with similar characteristics.</p>
    <table>
      <thead>
        <tr>
          <th>
            Tokimon ID
          </th>
          <th>
            Tokimon Name
          </th>
          <th>
            Tokimon Weight
           </th>
           <th>
            Tokimon Height
           </th>
           <th>
            Tokimon Fly
           </th>
           <th>
            Tokimon Fight
           </th>
           <th>
            Tokimon Fire
           </th>
           <th>
            Tokimon Water
           </th>
           <th>
            Tokimon Electric
           </th>
           <th>
            Tokimon Frozen
           </th>
           <th>
            Tokimon Trainer
           </th>
        </tr>
      </thead>
      <tbody>
        <% var i = 0
        <% rows.forEach((r) => { %>
          <tr>
            <td>
                <%= r.id %>
            </td>
            <td>
                <%= r.t_name %>
            </td>
            <td>
                <%= r.t_weight %>
            </td>
            <td>
                <%= r.t_height %>
            </td>
            <td>
                <%= r.t_fly %>
            </td>
            <td>
                <%= r.t_fight %>
            </td>
            <td>
                <%= r.t_fire %>
            </td>
            <td>
                <%= r.t_water %>
            </td>
            <td>
                <%= r.t_electric %>
            </td>
            <td>
                <%= r.t_frozen %>
            </td>
            <td>
                <%= r.t_trainer %>
            </td>
            <td>
                <form>
                  <input type="submit" value="Delete">
                </form>
            </td>
          </tr> 
        <% i++}); %>
      </tbody>
    </table>
  </body>
</html>
