<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>USERS</title>
  </head>
  <body>

    <ul>
      <% rows.forEach((r) => { %> 
        <li><%= r.id %> <%= r.t_name %> <%= r.t_weight %> <%= r.t_height %> <%= r.t_fly %> <%= r.t_fight %> <%= r.t_fire %> <%= r.t_water %> <%= r.t_electric %> <%= r.t_frozen %> <%= r.t_trainer %></li>
      <% }); %>

    </ul>
  </body>
</html>
