<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimons</title>
    <script src="js/script.js"></script>
  </head>
  <body>
    <p>Tokimons are rare. This is the list of Tokimons found so far. Each Tokimon has a unique ID which can be used to distinguish those with similar characteristics.</p>
    <table>
      <thead>
        <tr>
          <th>
            Tokimon ID
          </th>
          <th>
            Tokimon Name
          </th>
          <th>
            Tokimon Weight
           </th>
           <th>
            Tokimon Height
           </th>
           <th>
            Tokimon Fly
           </th>
           <th>
            Tokimon Fight
           </th>
           <th>
            Tokimon Fire
           </th>
           <th>
            Tokimon Water
           </th>
           <th>
            Tokimon Electric
           </th>
           <th>
            Tokimon Frozen
           </th>
           <th>
            Tokimon Trainer
           </th>
           <th>
              Tokimon Total
            </th>
           <th>
            Options
           </th>
        </tr>
      </thead>
      <tbody>
        <% rows.forEach((r) => { %>
          <tr>
            <td>
                <%= r.id %>
            </td>
            <td>
                <%= r.t_name %>
            </td>
            <td>
                <%= r.t_weight %>
            </td>
            <td>
                <%= r.t_height %>
            </td>
            <td>
                <%= r.t_fly %>
            </td>
            <td>
                <%= r.t_fight %>
            </td>
            <td>
                <%= r.t_fire %>
            </td>
            <td>
                <%= r.t_water %>
            </td>
            <td>
                <%= r.t_electric %>
            </td>
            <td>
                <%= r.t_frozen %>
            </td>
            <td>
                <%= r.t_trainer %>
            </td>
            <td>
                <%= r.t_total %>
            </td>
            <td>
                <form action="/delete" onsubmit="return confirmDelete()" method="POST">
                  <input class="ToBeHidden" type="text" name="tokiID" value=<%= r.id %>>
                  <input type="submit" value="Delete">
                </form><br>
                <form action="/selectToModify" onsubmit="return confirmModify()" method="POST">
                  <input class="ToBeHidden" type="text" name="tokiID" id="tokiID" value=<%= r.id %>>
                  <input type="submit" value="Modify">
                </form><br>
                <form action="/moreinfo" method="POST">
                  <input class="ToBeHidden" type="text" name="tokiID" id="tokiID" value=<%= r.id %>>
                  <input type="submit" value="More Info">
                </form><br>
            </td>
          </tr> 
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
